@model X.PagedList.IPagedList<ShoppingCart.ViewModels.HangHoaViewModel>
@using X.PagedList.Mvc.Core

@{
	ViewData["Title"] = "Search";
	Layout = "_DanhSachHangHoa";
}

<h1>Search</h1>
@await Html.PartialAsync("ProductItem", Model)